		* {
			font-family: "Tahoma", "Verdana", sans-serif;
			font-size: 10px;
		}
		button{
      width:100px;
      height:30px;
      font-size:11pt;
    }
		table {
			border-collapse: collapse;
			empty-cells: show;
		}
    #segment {
      margin-bottom:30px;
    }
	  h2 {
    margin:0px;
  }
	

		table th {
			padding: 2px 5px;
		}
		
		table tbody th {
			padding: 0;
		}
		
		table th.pause {
			text-align: center;
		}
		
		#segment td,
    #segments td{
			padding: 0;
			border: 1px solid black;
		}
		
		table label {
			display: block;
			padding: 2px 5px;
			text-align: center;
		}
		
		table tbody th label {
			text-align: left;
		}
		
		table input {
			position: relative;
			top: 2px;
		}
		
		#segment colgroup col.hover,
    .segment-edit:hover,
    .segment-del:hover,
    #segment tbody tr:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}
		
	  #segment colgroup col.inUse {
			background-color: rgba(255, 0, 0, 0.1);
		}
		
		#segment tbody tr.blocked {
			background-color: rgba(0, 0, 0, 0.3);
			color: rgba(0, 0, 0, 0.3);
		}
		
		#segment tbody tr.inUse {
			background-color: rgba(0, 255, 0, 0.3);
		}
/* style for plan table */
  #plan{
    border-collapse:separate;
    border-spacing:0px;
    border: 1px solid #000;
  }
  #plan td{
    vertical-align:text-top;
    background-color:#FFF;
    text-align:left;
    padding:5px;
  }
  #plan th{
    vertical-align:text-top;
    min-width:150px;
    border: 1px solid black;
  }
  .actor {
    float:left;
    padding:0px 2px 0px 2px;
  }
  .sketch {
    width:150px; 
  }
   .period {
    width:100px;
  }
  .free{
    width:100px;
  }

  #plan .sketch:hover {
    background-color:#DDD;
  }
  .ui-draggable-dragging{
    border:3px solid #888;
  }

/* style the menu */

#menu {
  position:fixed;
  background-color:#FFF;
  bottom:0px;
  width:100%;
  z-index:999;
}

#time {
  position:fixed;
  top:300px;
  left:400px;
  padding:20px;
  z-index:999;
  background-color:#FFF;
  display:none;
  border:5px solid #CCC;
}

#segments {
  width:400px;
  background-color:#FFF;
  border: 2px solid #000;
  position:absolute;
  top:30px;
  right:30px;
}
#segments thead{
  cursor:move;
}
#segments td {
  padding:10px;
}
#segments tr {
  height:40px;
}
.segment-edit{
  text-align:center;
}
.segment-del{
  text-align:center;
}
#sessiondata{
  border:5px solid #CCC;
  display:none;
  position:fixed;
  top:300px;
  left:400px;
  z-index:999;
  background-color:#FFF;
  padding:10px;
}

